.header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, var(--pink), var(--orange));
}

.header > * {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.header > *:nth-child(1), .header > *:nth-child(3) {
    width: 3rem;
    height: 6rem;
}
.header *:nth-child(2) {
    height: 6rem;
}
.header *:nth-child(2) * {
    margin-top: -0.25rem;
}

.h1 {
    font-family: 'Dancing Script', serif;
    font-size: 22px;
    color: var(--blue);
    
}